.scrollbar,
.tab,
.tabs,
.wrap {
  display: flex;
}

.wrapper {
  width: 600px;
}

.wrap {
  flex-wrap: wrap;
  gap: 24px;
}

.wrap > * {
  flex: 1 1 calc(50% - 12px);
}

.scrollbar {
  flex-direction: column;
  overflow: auto;
  height: auto;
  max-height: calc(100vh - 35vh);
}
