.gridColumn,
.grid,
.elementsGrid,
.buttonGrid,
.dndGrid,
.noElementsGrid {
  display: flex;
}

.gridColumn {
  flex-direction: column;
}

.grid {
  flex-direction: column;
  gap: 1rem;
}

.elementsGrid {
  flex-direction: column;
  gap: 16px;
}

.buttonGrid {
  align-items: center;
  justify-content: end;
}

.scrollbar {
  overflow: auto;
  height: auto;
  max-height: calc(100vh - 60vh);
}

.dndGrid {
  align-items: center;
}

.noElementsGrid {
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: 1px dashed white;
}

.noElementsGridTitle {
  width: 80%;
}
